body {font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: brown;font-size: x-large;}
.back {font-family: Arial, Helvetica, sans-serif; background-color: blueviolet;}
#theend {background-color: rgb(37, 239, 26);}
#victory {background-color: rgb(105, 233, 233);}
.links {background-color: blue;}